footer.page-footer
	.container
		.row
			.footer-group-left
				a(href="index.html" class="footer-logo")
					img(src="src/img/logo_footer.png" alt="")/

				.slogan Группа компаний Зодиак - это лидер индустрии светового дизайна и проектирования

			.footer-contacts

				ul.social-icons.socials-large
					li
						a(href="javascript:void(0);" class="icon-fb")
					li
						a(href="javascript:void(0);" class="icon-vk")
					li
						a(href="javascript:void(0);" class="icon-ok")

				.phone
					a(href="tel:78612200192") +7 (861) 220-01-92

				address г. Краснодар, ул. Воровского, 165

				.email
					a(href="mailto:dir@zodiak-svet.ru" title="Написать письмо") dir@zodiak-svet.ru

			.footer-menu.clearfix
				.footer-menu__column
					.h4 Зодиак
					ul
						li
							a(href="javascript:void(0);") О компании
						li
							a(href="javascript:void(0);") Новости
						li
							a(href="javascript:void(0);") Работы
						li
							a(href="javascript:void(0);") Контакты

				.footer-menu__column
					.h4 Продукция
					ul
						li
							a(href="javascript:void(0);") Название товара
						li
							a(href="javascript:void(0);") Фигуры яркие
						li
							a(href="javascript:void(0);") Новогодняя
						li
							a(href="javascript:void(0);") Другие товары
						li
							a(href="javascript:void(0);") Товары другие
						li
							a(href="javascript:void(0);") Фигуры новогодние

				.footer-menu__column
					.h4 Услуги
					ul
						li
							a(href="javascript:void(0);") Специальные объекты
						li
							a(href="javascript:void(0);") Архитектурная подсветка
						li
							a(href="javascript:void(0);") Праздничное и декоративное освещение
						li
							a(href="javascript:void(0);") Внутренняяя подсветка
						li
							a(href="javascript:void(0);") Архитектурная подсветка
						li
							a(href="javascript:void(0);") Ландшафтное освещение

			

		.row.footer-bottom
			.col-xs-6.copyright &copy;Группа&nbsp;компаний&nbsp;Зодиак, 2003

			.col-xs-6.dev Разработка сайта: <a href="http://espirestudio.ru" target="_blank" class="link-default"><span>Espire&nbsp;Studio</span></a>