-
	var version = 33;

-
	var menu_items = [
		{
			title: "О компании",
			url: "about.html"
		},
		{
			title: "Услуги",
			url: "services_list.html"
		},
		{
			title: "Работы",
			url: "projects.html"
		},
		{
			title: "Новости",
			url: "news.html"
		},
		{
			title: "Продукция",
			url: "goods.html"
		},
		{
			title: "Контакты",
			url: "contact.html"
		}
	];

meta(charset="utf-8")/
meta(http-equiv="X-UA-Compatible" content="IE=edge")/
meta(name="viewport" content="width=device-width, initial-scale=1")/
//-meta(name="viewport" content="width=1300")/
// disable safari phone number detection
meta(name="format-detection" content="telephone=no")/

title Много цветов. Доставка цветов в городе Смоленск

link(href="https://fonts.googleapis.com/css?family=PT+Sans:400,700&amp;subset=cyrillic" rel="stylesheet")/
link(href="src/css/style.min.css?v=" + version rel="stylesheet")/

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]><script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script><script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->